<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Result</h3>
  </div>
  <div class="panel-body">
    <div id="main-section-wrap">
    	<p class="initial-message">No settings selected yet.</p>
    </div>
  </div>
</div>