<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
  <div class="panel-body">
    <div class="checkbox-wrapper">
			<div class="checkbox">
				<label for="css3"><input id="css3" type="radio" data-type="css3" name="method[]" checked class="" /> CSS3</label>
			</div>
			<div class="checkbox">
				<label for="GSAP"><input id="GSAP" type="radio" data-type="GSAP" name="method[]" class="" /> GSAP</label>
			</div>
			<div class="checkbox">
				<label for="jquery"><input id="jquery" type="radio" data-type="jquery" name="method[]" class="" /> jQuery</label>
			</div>
			<div class="checkbox">
				<label for="famous"><input id="famous" type="radio" data-type="famous" name="method[]" /> Famous</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Number of Elements: <span id="num-el-text">1</span></label>
			<input type="range" id="num-el" min="1" value="1" max="50">
		</div>
		<div class="input-wrap">
			<button id="run-stop" class="btn btn-default"></button>
		</div>
  </div>
</div>